/* 1 inch = 96px */ 

@media screen and (max-width: 1259px){
    .button{
        top: 75%;
    }
}

@media screen and (max-width: 965px){
    .button{
        top: 70%;
    }
}

@media screen and (max-width: 780px){
    .logo img{
        width: 90%;
        height: 65px;
    }

    ul li{
        margin-top: 5%;        
    }

    .title{
        margin-top: -5%;
    }

    .title p{
        width: 250px;
    }

    .button{
        top: 80%;
        text-align: center;
    }

    .iframe-container iframe{
        margin-left: 25px;
    }

}

@media screen and (max-width: 780px){
    header nav ul{
        float: left;
        margin-left: 20%;
    }

    .iframe-container iframe{
        margin-left: 50px;
    }
}

@media screen and (max-width: 450px){
    .iframe-container iframe{
        margin-left: 75px;
    }
}