*{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/bg2.jpeg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    list-style-type: none;
    /* text-align: center; */
    float: right;
    margin-top: 2%;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover, .btn:hover{
    background-color: #fff;
    color: #000;
}

ul li.active a{
    background-color: #fff;
    color: #000;
}

.logo img{
    float: left;
    width: 7%;
    height: auto;
    margin-left: 3%;
    margin-top: 1%;
    border: 3px solid lightgoldenrodyellow;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    text-decoration: none;
    transition: 0.6s ease;
}

/* Portfolios style */
#portfolios{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('../img/bg1.jpeg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* End Portfolios style */

/* Skills style */
#skills{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('../img/bg3.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* End Skills style */


/* Videos style */
#videos{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/bg4.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}
/* End Videos style */

/* Scroll Top */
.scroll-top{
    position: fixed;
    bottom: 1%;
    left: 50%;
}

.scroll-top img{
    opacity: 0.5;
    width: 20%;
}

.scroll-top img:hover{
    opacity: 1;
}
/* End Scroll Top */

/* Copyright */

.copyright{
    text-align: center;
    background-color: black;
}
/* End Copyright */

/* Image box style */
.container{
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container .box{
    position: relative;
    width: 500px;
    height: 500px;
    background: #ff0;
    margin: 30px auto;
    box-sizing: border-box;
    display: inline-block;
}

.container .box .imgBox{
    position: relative;
    overflow: hidden;
}

.container .box .imgBox img{
    max-width: 100%;
    max-height: 100%;
    transition: transform 2s;
}

.container .box:hover .imgBox img{
    transform: scale(1.2);
}

.container .box .details{
    position: absolute;
    top: 0;
    left: 0;
    bottom: -5px;
    right: 0;
    background: rgba(0, 0, 0, .5);
    transform: scaleY(0);
    transition: transform .5s;
}

.container .box:hover .details{
    transform: scaleY(1);
}

.container .box .details .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.container .box .details .content h2{
    margin: 0;
    padding: 0;
    font-size: 22pt;
}

.container .box .details .content p{
    margin: 10% 0 0;
    padding: 0;
    font-weight: bolder;
}

.container .box .details .content .btn{
    margin-top: 3%;
}


/* End Image box style */

/* Button Style */
.btn{
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn:hover{
    background-color: blue;
    color: #fff;
}

.btn-gray{
    background-color: rgb(110, 107, 107);
}

.btn-gray:hover{
    background-color: rgb(110, 107, 107);
    cursor: not-allowed;
}
/* End Button Style */


/* Carousel Style */
.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}


/* Corousel End */

/* Iframe Start */
.iframe-container{
    margin: 1%;
}

.iframe-container iframe{
    margin-top: 5%;
}
/* Iframe End */

/* Information span class */
.information{
    color: red;
    font-size: 10pt;
    background-color: #fff;
    font-style: italic;
}
/* End Information */